<section id="about" class="container yacht-jet-fleet-container">
  <div class="yjf-container">
    <h2 class="yjf-title">
      YachtJet fleet is here to take you on the ultimate adventure
    </h2>
    <div class="yjf-list-container">
      <p class="yjf-text">
        From spacious decks to state-of-the-art technology, our yachts are
        designed to provide the perfect blend of luxury and functionality.
      </p>

      <p class="yjf-sub-text">
        Take a look at our selection below and choose the yacht that matches
        your needs and preferences.No matter which yacht you choose, our
        experienced crew will ensure that your journey is smooth and enjoyable.
        Book now and get ready for an unforgettable adventure on the high seas.
      </p>
    </div>
  </div>
  <picture>
    <source
      srcset="/img/yjfimages/desk1x.jpg 1x, /img/yjfimages/desk2x.jpg 2x"
      media="(min-width:1280px)"
    />
    <source
      srcset="/img/yjfimages/tab1x.jpg 1x, /img/yjfimages/tab2x.jpg 2x"
      media="(min-width:768px)"
    />
    <source
      srcset="/img/yjfimages/mob1x.jpg 1x, /img/yjfimages/mob2x.jpg 2x"
      media="(min-width:320px)"
    />
    <img
      class="yacht-img"
      src="/img/yjfimages/desk1x.jpg"
      alt=" "
      width="335"
    />
  </picture>
  <a class="yacht-jet-fleet-container" href="#about"> </a>
</section>
