<section class="container advantages">
    <h3 class="advantages-hidden">Advantages</h3>
    <ul class="adv-list-order">
        <li class="adv-list">
            <p class="adv-list-numbers">01</p>
            <p class="adv-list-text">Swimming and water sports: try your hand at water skiing</p>
        </li>
        <li class="adv-list">
            <p class="adv-list-numbers">02</p>
            <p class="adv-list-text">Fishing: try to catch your own dinner</p>
        </li>
        <li class="adv-list">
            <p class="adv-list-numbers">03</p>
            <p class="adv-list-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from
                the water</p>
        </li>
        <li class="adv-list">
            <p class="adv-list-numbers">04</p>
            <p class="adv-list-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor
                atmosphere.</p>
        </li>
    </ul>
    <img class="adv-img" src="/img/advantages/interier.jpg"
        srcset="/img/advantages/interier.jpg 1x, /img/advantages/interier@2x.jpg 2x" alt="interier" />
</section>