<footer class="">
  <div class="container">
    <div class="footer-container">
      <div class="foot-social-cont">
        <a class="foot-logo" href="/">yachtjet</a>

        <ul class="btn-list">
          <li>
            <a class="btn-link" href=""
              ><button class="foot-btn" type="button">About</button></a
            >
          </li>
          <li>
            <a class="btn-link" href=""
              ><button class="foot-btn" type="button">Yachts</button></a
            >
          </li>
          <li>
            <a class="btn-link" href=""
              ><button class="foot-btn" type="button">Reviews</button></a
            >
          </li>
        </ul>

        <ul class="foot-social">
          <li class="social-item">
            <a class="social-link" href="">
              <svg class="social-icon" width="20" height="20">
                <use href="/img/symbol.svg#Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <svg class="social-icon" width="20" height="20">
                <use href="/img/symbol.svg#Youtube"></use>
              </svg>
            </a>
          </li>
          <li class="social-item">
            <a class="social-link" href="">
              <svg class="social-icon" width="20" height="20">
                <use href="/img/symbol.svg#Facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <h3 class="foot-desc">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </h3>

      <div class="foot-add">
        <p class="foot-add-desc">2023. Yacht Adventures</p>
        <a class="foot-add-police" href="">Privacy Police</a>
      </div>
    </div>
  </div>
</footer>
