
<header class=" page-header">
    <div class=" page-header-container">
    <nav class="page-nav">
<a id="logo" class="page-logo" href="./index.html">yachtjet</a>
<ul class="menu">
    <li class="menu-item"> <a class="menu-link" href="#about" target="_blank">ABOUT</a></li>
    <li class="menu-item"> <a class="menu-link" href="#yachts" target="_blank">YACHTS</a></li>
    <li class="menu-item"> <a class="menu-link"  href="#reviews" target="_blank">REVIEWS</a></li>
</ul>
</nav>

<ul class="icons-list">
    <li class="icons-sociall">
     <a class="icon" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer nofollow">
     <svg class="icon-sociall" width="24" height="24">
    <use href="./img/header/icons.svg#icon-instagram1"></use></svg></a></li>
     <li class="icons-sociall">
    <a class="icon" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer nofollow">
    <svg class="sociall" width="24" height="24">
    <use href="./img/header/icons.svg#icon-youtube"></use></svg></a></li>
    <li class="icons-sociall">
    <a class="icon" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer nofollow">
     <svg class="icon-sociall" width="24" height="24">
     <use href="./img/header/icons.svg#icon-facebook1"></use></svg></a></li>
    </ul>

    <button type="button" class="open-header">
        <svg width="24" height="24">
        <use href="./img/header/icons.svg#icon-hsmenu"></use></svg>
        </button>
    </div>
</header>

