<div class="mob-menu">
  <div class="mob-header">
    <a href="./index.html" class="mob-logo" target="_self">yachtjet</a>
    <button class="mob-btn-close" type="button">
      <svg class="btn-close-icon" width="28" height="28">
        <use href="/img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
  </div>
  <div class="mob-navigation">
    <nav class="mob-navigation-menu">
      <ul class="mob-nav-item">
        <li class="mob-nav-list mob-nav-about">
          <a class="mob-nav-link" href="#about">About</a>
        </li>
        <li class="mob-nav-list mob-nav-yachts">
          <a class="mob-nav-link" href="#yachts">Yachts</a>
        </li>
        <li class="mob-nav-list mob-nav-reviews">
          <a class="mob-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="mobile-soc">
    <ul class="mobil-soc-item">
      <li class="mobil-soc-list">
        <a
          href="https://www.instagram.com/goitclub/"
          class="mobil-soc-link"
          target="_blank"
        >
          <svg class="mobil-icon" width="28" height="28">
            <use
              class="mobil-soc-link-icon"
              href="/img/icons.svg#icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li class="mobil-soc-list">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobil-soc-link"
          target="_blank"
        >
          <svg class="mobil-icon" width="28" height="28">
            <use
              class="mobil-soc-link-icon"
              href="/img/icons.svg#icon-youtube"
            ></use>
          </svg>
        </a>
      </li>
      <li class="mobil-soc-list">
        <a
          href="https://www.facebook.com/goITclub/"
          class="mobil-soc-link"
          target="_blank"
        >
          <svg class="mobil-icon" width="28" height="28">
            <use
              class="mobil-soc-link-icon"
              href="/img/icons.svg#icon-facebook"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
