<section class="container our-yachts-container">
  <h2 id="yachts" class="our-yachts-title">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <ul class="our-yachts-cards-list">
    <li class="our-yachts-cards">
      <div class="our-yachts-image-container">
        <img
          class="our-yachts-image"
          src="/img/our-yachts/yaht.jpg"
          srcset="/img/our-yachts/yaht.jpg 1x, /img/our-yachts/yaht@2x.jpg 2x"
          alt="Arrow yacht"
        />
      </div>
      <div class="yacht-name-class yacht-name-class-current">
        <h4 class="yacht-name">Arrow</h4>
        <p class="yacht-class">LUXURY YAHTS</p>
      </div>
      <div class="yacht-characteristic-number">
        <ul class="yacht-characteristic-list">
          <li>
            <p class="yacht-characteristic">LENGTH</p>
          </li>
          <li>
            <p class="yacht-characteristic">BUILDER</p>
          </li>
          <li>
            <p class="yacht-characteristic">BUILT</p>
          </li>
          <li>
            <p class="yacht-characteristic">GUESTS</p>
          </li>
          <li>
            <p class="yacht-characteristic">PRICE</p>
          </li>
        </ul>
        <ul class="yacht-number-list">
          <li>
            <p class="yacht-number">48m(155ft)</p>
          </li>
          <li>
            <p class="yacht-number">Admiral</p>
          </li>
          <li>
            <p class="yacht-number">2021</p>
          </li>
          <li>
            <p class="yacht-number">11 in 5 cabins</p>
          </li>
          <li>
            <p class="yacht-number">€33,500,000</p>
          </li>
        </ul>
      </div>
    </li>
    <li class="our-yachts-cards yacht-two">
      <div class="our-yachts-image-container">
        <img
          class="our-yachts-image"
          src="/img/our-yachts/yaht-two.jpg"
          srcset="
            /img/our-yachts/yaht-two.jpg    1x,
            /img/our-yachts/yaht-two@2x.jpg 2x
          "
          alt="BENETTI OASIS 40M BO122"
        />
      </div>
      <div class="yacht-name-class yacht-name-class-current">
        <h4 class="yacht-name ellipsis">BENETTI OASIS 40M BO122</h4>
        <p class="yacht-class">LUXURY YAHTS</p>
      </div>
      <div class="yacht-characteristic-number">
        <ul class="yacht-characteristic-list">
          <li>
            <p class="yacht-characteristic">LENGTH</p>
          </li>
          <li>
            <p class="yacht-characteristic">BUILDER</p>
          </li>
          <li>
            <p class="yacht-characteristic">BUILT</p>
          </li>
          <li>
            <p class="yacht-characteristic">GUESTS</p>
          </li>
          <li>
            <p class="yacht-characteristic">PRICE</p>
          </li>
        </ul>
        <ul class="yacht-number-list">
          <li>
            <p class="yacht-number">41m (133ft)</p>
          </li>
          <li>
            <p class="yacht-number">Benetti</p>
          </li>
          <li>
            <p class="yacht-number">2025</p>
          </li>
          <li>
            <p class="yacht-number">10 in 5 cabins</p>
          </li>
          <li>
            <p class="yacht-number">€23,210,000</p>
          </li>
        </ul>
      </div>
    </li>
    <li class="our-yachts-cards yacht-three">
      <div class="our-yachts-image-container">
        <img
          class="our-yachts-image"
          src="./img/our-yachts/yaht-three.jpg"
          srcset="
            ./img/our-yachts/yaht-three.jpg   1x,
            ./img/our-yachts/yaht-three@2.jpg 2x
          "
          alt="BELLE ANNA"
        />
      </div>
      <div class="yacht-name-class yacht-name-class-current">
        <h4 class="yacht-name">BELLE ANNA</h4>
        <p class="yacht-class">LUXURY YAHTS</p>
      </div>
      <div class="yacht-characteristic-number">
        <ul class="yacht-characteristic-list">
          <li>
            <p class="yacht-characteristic">LENGTH</p>
          </li>
          <li>
            <p class="yacht-characteristic">BUILDER</p>
          </li>
          <li>
            <p class="yacht-characteristic">BUILT</p>
          </li>
          <li>
            <p class="yacht-characteristic">GUESTS</p>
          </li>
          <li>
            <p class="yacht-characteristic">PRICE</p>
          </li>
        </ul>
        <ul class="yacht-number-list">
          <li>
            <p class="yacht-number">50m(155ft)</p>
          </li>
          <li>
            <p class="yacht-number">ISA</p>
          </li>
          <li>
            <p class="yacht-number">2012</p>
          </li>
          <li>
            <p class="yacht-number">12 in 6 cabins</p>
          </li>
          <li>
            <p class="yacht-number">€21,000,000</p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <a class="our-yachts-btn" href="#yacht-rental"> Yacht rental </a>
</section>
