.foot-cont {
  padding: 0 10px;
}

.footer-container {
  padding: 40px 30px 20px;
  background-color: #1b414b;
  border-radius: 24px 24px 0 0;
}

.foot-social-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
  margin-bottom: 40px;
}

.foot-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.btn-list {
  display: flex;
  gap: 4px;
}

.btn-link {
  display: block;
  border-radius: 8px;
  padding: 15px 12px;
  min-width: 66px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  background-color: rgba(251, 251, 251, 0.3);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-link:hover,
.btn-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}

.foot-social {
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

.social-item {
  width: 24px;
  height: 24px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}

.social-icon {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: rgba(251, 251, 251, 0.8);
}

.foot-desc {
  max-width: 279px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 82px;
}

.foot-add {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.foot-add-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

.foot-add-police {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

@media screen and (max-width: 374px) {
  .container {
    max-width: 320px;
  }

  .btn-link {
    padding: 9px 6px;
    min-width: 52px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .foot-social-cont {
    margin-bottom: 96px;
  }

  .footer-container {
    padding: 50px 48px 20px;
  }

  .foot-logo {
    font-size: 20px;
  }

  .foot-btn {
    min-width: 91px;
  }

  .foot-social {
    margin: 0;
  }

  .foot-desc {
    max-width: 640px;
    font-size: 32px;
    margin-bottom: 99px;
  }

  .foot-add-desc {
    font-size: 14px;
    line-height: 1.18;
  }

  .foot-add-police {
    font-size: 14px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 25px;
  }

  .footer-container {
    padding: 50px 75px 20px;
  }

  .foot-desc {
    max-width: 693px;
  }
}
