
.page-header{
   
width: 100%;
height: 42px;
top: 32px;
z-index: 1;
position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
    }
    .page-header-container{
 border: 1px solid #fbfbfb;
border-radius: 8px;
background: #fbfbfb;
max-width: 370px;
        display: flex;
        justify-content: space-between;
        padding: 7px 20px;
    }
    .page-nav{
        display: flex;
        align-items: center;
    }
        .open-header {
            display: flex;
            margin: 0;
            padding: 0;
            width: 28px;
            height: 28px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        
          }

    .menu{
        display: none;
    }
   
    .page-logo{
        text-decoration: none;
        display: block;
        font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: -0.03em;
color: #1b414b;
    }
    .icons-list{
        display: none;
    }
   
@media  screen and (min-width: 768px) {

    .page-header-container{
       max-width: 704px;
height: 48px;
 padding: 4px 28px;
    }
 
.page-logo{
font-size: 20px;
margin-right: 113px;
}
.menu{
    display: flex;
    gap: 4px;
    align-items: center;

    margin-right: 96px;
}
.menu-item{
    border-radius: 8px;
width: 91px;
height: 40px;
background: rgba(27, 65, 75, 0.5);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.menu-item:hover,
.menu-item:focus{
    background: #1b414b;
    
}
.open-header{
    display: none;
}
.menu-link{
  
    font-family: var(--font-family);
font-weight: 400;
font-size: 9px;
line-height: 130%;
text-transform: uppercase;
text-align: center;
color: #fbfbfb;
display: block;
padding: 15px 24px;
}
.icons-list{
        display: flex;
        gap: 9px;
        justify-content: center;
        margin-top: 8px;
  
}
    .icon{
        fill: #1b414b;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .icon:hover{
        fill: #062730;
        
    }
}
@media screen and (min-width:1280px) {
    .page-header-container{
        max-width: 1080px;
height: 48px;
    padding: 4px 30px;
    }
   
    .page-logo{
    
        margin-right: 296px;
    }
.menu{
    margin-right: 281px;
}

}

