.our-yachts-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 312px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.our-yachts-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.our-yachts-cards-list {
  margin-bottom: 40px;
}

.our-yachts-cards {
  max-width: 335px;
  background-color: #fff;
  border-radius: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.our-yachts-image-container {
  padding-left: 16px;
  padding-right: 16px;
}

.our-yachts-image {
  border-radius: 24px;
  margin-bottom: 32px;
  width: 302px;
  height: 240px;
  object-fit: cover;
}

.yacht-name-class {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 32px;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}

.yacht-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
  min-width: 100px;
}

.yacht-class {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
  min-width: 100px;
}

.yacht-name-class-current::after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  bottom: -16px;
  background-color: rgba(4, 3, 6, 0.1);
  width: 80%;
  max-width: 272px;
  height: 1px;
}

.yacht-characteristic-number {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.yacht-characteristic-list {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.yacht-characteristic {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.yacht-number-list {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.yacht-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}

.our-yachts-btn {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 14px 32px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-yachts-btn:hover,
.our-yachts-btn:focus {
  color: #1b414b;
  border: none;
  background-color: #fbfbfb;
}

.yacht-two {
  display: none;
}

.yacht-three {
  display: none;
}

@media screen and (min-width: 768px) {
  .yacht-two {
    display: inline-block;
  }

  .our-yachts-title {
    font-size: 48px;
    min-width: 645px;
    margin-bottom: 75px;
  }

  .our-yachts-container {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .our-yachts-cards-list {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 50px;
  }

  .our-yachts-cards {
    min-width: 336px;
    width: calc((100% - 32px) / 2);
  }

  .our-yachts-image {
    width: 304px;
    height: 268px;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 160px;
  }

  .yacht-name {
    font-size: 16px;
    line-height: 1.2;
  }

  .yacht-class {
    font-size: 13px;
    line-height: 1.18;
  }

  .our-yachts-btn {
    font-size: 18px;
    line-height: 1.1;
    padding: 16px 40px;
  }
}

@media screen and (min-width: 1280px) {
  .yacht-three {
    display: inline-block;
  }

  .our-yachts-title {
    min-width: 645px;
  }

  .our-yachts-cards-list {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .our-yachts-cards {
    min-width: 377px;
    width: calc((100% - 50px) / 3);
  }

  .our-yachts-image {
    width: 345px;
  }

  .yacht-name-class-current::after {
    width: 313px;
    max-width: 313px;
    height: 1px;
  }

  .ellipsis {
    width: 180px;
  }
}
